<div class="container panel panel-info"  style="margin-top: 30px" *ngIf="reference">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
          <div class="ibox-content">
            <div class="row">
              <div class="col-lg-12">
                <div class="m-b-md">
                  <a (click)="openEditDialog(reference)" class="btn btn-white btn-xs pull-right"><mat-icon title="modifier">edit</mat-icon></a>
                  <h2><a [routerLink]="['/references']"><mat-icon>keyboard_backspace</mat-icon></a>
                    Reference </h2>
                </div>
                <dl class="dl-horizontal">
                  <dt>Status:</dt>
                    <dd>
                      <div *ngIf="reference.statut===0" class="label label-info" style="background-color: limegreen">Free</div>
                      <div *ngIf="reference.statut===1" class="label label-info" style="background-color: darkgoldenrod">Temp</div>
                      <div *ngIf="reference.statut===2" class="label label-info" style="background-color: royalblue">Definitive</div>
                    </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <dl class="dl-horizontal">
                  <dt>No.:</dt> <dd>{{reference.id}}</dd>
                  <dt>Nom:</dt> <dd>{{reference.nom}}</dd>
                </dl>
              </div>
              <div class="col-lg-7" id="cluster_info">
                <dl class="dl-horizontal">
                  <dt>Zone:</dt> <dd> 	{{reference.zone}} </dd>
                  <dt>Created:</dt> <dd> 	{{reference.date_ajout | date}} </dd>
                </dl>
              </div>
            </div>

            <mat-tab-group title="ref">
              <mat-tab label="Current Codes">
                <a *ngIf="(refCodes && refCodes.length === 0)" (click)="openAffectDialog()" class="btn btn-white btn-xs pull-right"><mat-icon title="affecter un code">add_box</mat-icon></a>
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Status</th>
                    <th>No.</th>
                    <th>Numero</th>
                    <th>Date d'Attribution</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let element of refCodes">
                    <td>
                      <dd>
                        <div *ngIf="element.code.statut===0" class="label label-primary" style="background-color: limegreen">Free</div>
                        <div *ngIf="element.code.statut===1" class="label label-primary" style="background-color: gold">Temp</div>
                        <div *ngIf="element.code.statut===2" class="label label-primary" style="background-color: darkorange">Busy</div>
                        <div *ngIf="element.code.statut===3" class="label label-primary" style="background-color: royalblue">Reserved</div>
                      </dd>
                    </td>
                    <td>
                      {{element.code.id}}
                    </td>
                    <td>
                      {{element.code.numero}}
                    </td>
                    <td>
                      {{element.date_attr | date}}
                    </td>
                    <td>
                      <button mat-icon-button color="warn" (click)="confirm_delete(element)"><mat-icon>delete_outline</mat-icon></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </mat-tab>

              <mat-tab label="Current Products">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Status</th>
                    <th>No.</th>
                    <th>Projet</th>
                    <th>Nom</th>
                    <th>Date d'Ajout</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let element of prodRefs">
                    <td>
                       <span class="label label-primary">Active</span>
                    </td>
                    <td>
                      {{element.produit.id}}
                    </td>
                    <td>
                      {{element.produit.projet.nom}}
                    </td>
                    <td>
                      {{element.produit.nom}}
                    </td>
                    <td>
                      {{element.produit.date_ajout}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </mat-tab>

              <mat-tab label="Archived Products">

                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Status</th>
                    <th>Nom</th>
                    <th>Data d'debut</th>
                    <th>Date de fin</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let element of histRefs">
                    <td>
                      <dd><span class="label label-primary">Completed</span></dd>
                    </td>
                    <td>
                      {{element.produit.nom}}
                    </td>
                    <td>
                      {{element.date_debut | date}}
                    </td>
                    <td>
                      {{element.date_fin | date}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </mat-tab>

              <mat-tab label="Archived Codes">

                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Status</th>
                    <th>Numero</th>
                    <th>Data d'debut</th>
                    <th>Date de fin</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let element of histCodes">
                    <td>
                      <dd><span class="label label-primary">Completed</span></dd>
                    </td>
                    <td>
                      {{element.code.numero}}
                    </td>
                    <td>
                      {{element.date_debut | date}}
                    </td>
                    <td>
                      {{element.date_fin | date}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </mat-tab>

            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
